*{margin: 0;
    padding: 0;
    }
    body{height: 200vh;
    overflow-x: hidden;
    }
    nav{position: relative;
    
    }
    .leftnav{ display: flex;
        justify-content: left;
        margin-left: 35px;
    margin-top: 30px;
    
    position: relative;
    }
    
    .search{border:none;
        outline: none;
       position: absolute;
       left: 60px;
      
    }
    .search:focus{left:20px;
     }
    
    .rightnav{display:flex;
        position: absolute;
        justify-content: space-around;
        width: 15%;
       left: 1000px;
       top:0px
    
    }
    .icon2{color: black;
        transition: all 0.2s;
    }
    .icon2:hover{ 
    font-size: large;
    }
    
    .icon3{color: black;
    
        transition: all 0.2s;
    }
    .icon3:hover{ 
    font-size: large;
    }
    
    .icon4{color: black;
        transition: all 0.2s;
    }
    .icon4:hover{ 
        font-size: large;
        }
    
    .button1{background-color: white;
    font-size: larger;
    height: 35px;
    width: 120px;
    position: absolute;
    margin-left: 600px;
    margin-top: 0px;
    }
    a{
        display: inline-block;
        text-decoration: none;
        font-size: 15px;
        
        position: relative;
        top: 50px;
        left: 330px;
        
    }
    a::after{
        content:"";
        position: absolute;
        width:0 ;
        height: 3px;
        background-color: rgb(161, 53, 200);
        top: 30px;
        left: 0;
        transition: all 0.6s;
    
    }
    a:hover::after{
        width: 100%;
    
    }
    .endnav{display: flex;
        justify-content: space-around;
        width: 50%;
    }
    .one{background-color: rgb(9, 218, 193);
    
        height: 500px;
        width: 100%;
        position: relative;
    
    }
    .img1{
        position: absolute;
      margin-left: 100px;
     }
     .text1{font-size: 40px;
        
    margin-left:800px ;
    
    }
     .text2{font-size: 20px;
        margin-left:800px ;
    }
    .button2{
        background-color: rgb(180, 32, 163);
     
        height: 35px;
        width: 100px;
        position: absolute;
        margin-left: 800px;
        margin-top: 10px;
    color: rgb(255, 255, 255);
    border:none;
        outline: none
    }
    .button2:hover{   font-size:medium ; }
.icon5{color:  rgb(180, 32, 163) ; font-size: 40px; }
.icon6{color:  rgb(180, 32, 163) ;font-size: 40px;}
.icon7{color:  rgb(180, 32, 163) ;font-size: 40px;}

.two{display:flex;
    position: absolute;
    justify-content: space-around;
    width: 90%;
   left: 70px;
   top:790px
}
.three{display:flex;
    position: relative;
    justify-content: space-around;
    width: 90%;
   left: 70px;
   top:0px}
.text6{color: rgb(255, 255, 255);
position: absolute;
left:50px ;
top: 400px;
width: 10px; 
}
.text7{color: rgb(255, 255, 255);
    position: absolute;
    left:450px ;
    top: 400px;
    width: 30px; ;
    }
    .text8{color: rgb(255, 255, 255);
        position: absolute;
        left:870px ;
        top: 400px;
        width: 40px; ;
        }
    .img2{ filter: brightness(70%);
    transition: 0.4s ease-in;
    }    
.img2:hover{filter: none;
transform: scale(1.1);
}
.img3{ filter: brightness(70%);
    transition: 0.4s ease-in;
    }    
.img3:hover{filter: none;
transform: scale(1.1);
}
.img4{ filter: brightness(70%);
    transition: 0.4s ease-in;
    }    
.img4:hover{filter: none;
transform: scale(1.1);
}
.four{background-color: rgba(245, 244, 244, 0.907);
position: relative;
width: 100%;
height: 600px;
}
.text9{color:  rgb(180, 32, 163) ;font-size: 40px ;
    position: absolute;
    top:30px;
    left: 50%;
}
.text10{ position: absolute;
    top:110px;
    left: 45%;
}
.card1{background-color: rgb(255, 255, 255);
width: 300px;
height: 300;
}
.card2{background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300;
    }

    .card3{background-color: rgb(255, 255, 255);
        width: 300px;
        height: 300;
        }
 .container{display:flex;
    position: absolute;
    justify-content: space-around;
    width: 90%;
   left: 70px;
   top:180px}
   .text0{color:  rgb(180, 32, 163) ;font-size: 40px ;
font-size: large;
margin-left: 110px;
}
.move{margin-left: 80px;}
.text100{color:  rgb(180, 32, 163) ;font-size: 40px ;
    font-size: large;
    margin-left: 130px;}
    .five{position: relative;
        
    }
    .text11{ position: absolute;
        top:110px;
        left: 48%;
    font-size: larger;
    }
    .imgt{
position: absolute;
left: 40px;

    }
   
    .text12{color:  rgb(180, 32, 163) ;font-size: 25px ;
    position: absolute;
     left: 750px; ; 
    top: 300px;
    }
.text13{position: absolute;
top:380px;
left: 750px;
}
.button3{
    background-color: rgb(180, 32, 163);
 
    height: 35px;
    width: 100px;
    position: absolute;
    margin-left: 800px;
    margin-top: 320px;
color: rgb(255, 255, 255);
border:none;
    outline: none
}
 .button3:hover{   font-size:medium ;

 }
 .end{position: relative;  
justify-content: space-around;
display: flex;

}
.foot2{
margin-top: 20px;}
.foot3{
    margin-top: 20px;
}
 .text14{color: rgb(180, 32, 163);
}
ul{list-style-type: none;}
.sub{display: flex;}
.sub1{height:20px ;
width: 100px;
}
.button4{
    background-color: rgb(180, 32, 163);
 
    height: 22px;
    width: 60px;
  
color: rgb(255, 255, 255);
border:none;
    outline: none
}
 .button4:hover{   font-size:medium ;
 }
 .sub0{margin-top: 0px;}.endn{ position: absolute;
    margin-top: 50px;
    margin-left:400px ;}