*{margin: 0;
    padding: 0;
    }
    body{height: 200vh;
    overflow-x: hidden;
    }
    nav{position: relative;
    
    }
    .leftnav{ display: flex;
        justify-content: left;
        margin-left: 35px;
    margin-top: 30px;
    
    position: relative;
    }
    
    .search{border:none;
        outline: none;
       position: absolute;
       left: 60px;
      
    }
    .search:focus{left:20px;
     }
    
    .rightnav{display:flex;
        position: absolute;
        justify-content: space-around;
        width: 15%;
       left: 1000px;
       top:0px
    
    }
    .icon2{color: black;
        transition: all 0.2s;
    }
    .icon2:hover{ 
    font-size: large;
    }
    
    .icon3{color: black;
    
        transition: all 0.2s;
    }
    .icon3:hover{ 
    font-size: large;
    }
    
    .icon4{color: black;
        transition: all 0.2s;
    }
    .icon4:hover{ 
        font-size: large;
        }
    
    .button1{background-color: white;
    font-size: larger;
    height: 35px;
    width: 120px;
    position: absolute;
    margin-left: 600px;
    margin-top: 0px;
    }
    .no{
        display: inline-block;
        text-decoration: none;
        font-size: 15px;
        
        position: relative;
        top: 50px;
        left: 330px;
        
    }
    .no::after{
        content:"";
        position: absolute;
        width:0 ;
        height: 3px;
        background-color: rgb(161, 53, 200);
        top: 30px;
        left: 0;
        transition: all 0.6s;
    
    }
    a:hover::after{
        width: 100%;
    
    }
    .endnav{display: flex;
        justify-content: space-around;
        width: 50%;
    }
    .back1{background-color: rgba(245, 244, 244, 0.907);
        position: relative;
        width: 100%;
        height: 50px;
    display: flex;
    }
    
    .s1{position: absolute;
        left: 50px;
        top: 10px;
        display: flex;
        }


        .thank{text-align: center;
        font-size: xx-large;
        position: relative;
        }
        .rt{border-radius: 990px;
        
        }
       
        
    .prp{background-color: rgb(147, 11, 133);
        width: 110px;
        height:50px ;
       border-radius: 10px;
        filter: none;
        transition: 0.2s ease-in;

    }
    
    .prp:hover{filter: brightness(70%);
        transform: scale(1.1);
        }
        .smallt{position: absolute;
        left: 290px;
        }
        
 .end{position: relative;  
    justify-content: space-around;
    display: flex;
    
    }
    .foot2{
    margin-top: 20px;}
    .foot3{
        margin-top: 20px;
    }
     .text14{color: rgb(180, 32, 163);
    }
    ul{list-style-type: none;}
    .sub{display: flex;}
    .sub1{height:20px ;
    width: 100px;
    }
    .button4{
        background-color: rgb(180, 32, 163);
     
        height: 22px;
        width: 60px;
      
    color: rgb(255, 255, 255);
    border:none;
        outline: none
    }
     .button4:hover{   font-size:medium ;
     }
     .sub0{margin-top: 0px;}.endn{ position: absolute;
        margin-top: 50px;
        margin-left:400px ;}
